<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paperlessquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".C_BarResponsibleHome"></activity>
        <activity android:name=".D_OrderHome" />
        <activity android:name=".D_NewOrder" />
        <activity android:name=".DisplayPDF" />
        <activity
            android:name=".C_ParticipantHome"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".C_CorrectorHome" />
        <activity android:name=".C_ReceptionistHome" />
        <activity android:name=".C_QuizmasterHome" />
        <activity
            android:name=".B_Login"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".A_SelectRole" />
        <activity android:name=".A_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>